body{
    padding:50px 100px;
}
.header{
    margin-bottom:60px;
}
.fas{
    margin-right:10px;
}
.sns{
    font-size:20px;
    padding:10px;
    color:#999;
}
.sns-first{
    margin-left:80%;

}
.sns:hover{
    color:red;
}

.h-menu{
    display:none;
}
ul li{
    cursor:pointer;
    display:inline-block;
}
.link-first{
    padding-left:60%;
}
.link{
    color:#888;
    font-size:20px;
    padding-right:40px;
}
/*website*/

  .img_wrap{
    border: 1px solid #ddd;
    width: 300px;
    height: 226px;
    overflow: hidden;
    cursor: pointer;
    background-color:black;
  }
  .img_wrap img{
    width: 100%;
    transition-duration: 0.5s;
  }
  .img_wrap:hover img{
    transform: scale(1.2);
    opacity:0.6;
    transition-duration: 0.5s;
  }



.about-title{
    font-size:50px;
    color:#999;
    border-bottom:1px solid #999;
    width:135px;
}



.pro-icon{
    padding:30px;
    font-size:30px;
    color:lightgray;
}


footer{
    border-top:1px solid rgb(204, 202, 202);
    font-size:20px;
    text-align:center;
    color:#999;
}

footer a{
    display:none;
}





@media screen and (max-width:480px){
    body{
        text-align:center;
        padding:10px;
    }
    .header a{
        display:none;
    }
    .about-title{
        font-size:35px;
        color:#999;
        border-bottom:1px solid #999;
        width:100px;
    }
    .sns{
        font-size:20px;
        padding:10px;
        color:#999;
    }
    .sns-first{
        padding-left:60%;
    }
    .h-menu{
        display:block;
    }
    .h-menu:active{
        
    }
    ul{
        padding-inline-start: 0px;
    }
    ul li{
        cursor:pointer;
        display:inline-block;
        padding-inline-start: 0px;
    }
    .link{
        display:block;
        color:#888;
        padding:10px;
       text-align:center;
    }
    footer a{
        display:inline-block;
        font-size:20px;
        padding:10px;
        color:#999;
        margin-top:30px;
    }

}

@media screen and (min-width:781px){

}
