body{
    padding:50px 100px;
}
.header{
    margin-bottom:60px;
}
.fas{
    margin-right:10px;
}
.sns{
    font-size:20px;
    padding:10px;
    color:#999;
}
.sns-first{
    margin-left:80%;

}
.sns:hover{
    color:red;
}

.h-menu{
    display:none;
}
ul li{
    cursor:pointer;
    display:inline-block;
}
.link-first{
    padding-left:60%;
}
.link{
    color:#888;
    font-size:20px;
    padding-right:40px;
}
/*website*/
.website{
    position:relative;
}
.title_wrap{
    position:absolute;
    text-align:center;
    color:#999;
}
  .img_wrap{
    border: 1px solid #ddd;
    width: 300px;
    height: 226px;
    overflow: hidden;
    cursor: pointer;
    background-color:black;
    display:inline-block;
  }
  .img_wrap img{
    display:inline-block;
    width: 100%;
    transition-duration: 0.5s;
  }
  .img_wrap:hover img{
    transform: scale(1.2);
    opacity:0.6;
    transition-duration: 0.5s;
  }



.about-title{
    font-size:50px;
    color:#999;
    border-bottom:1px solid #999;
    width:135px;
}



.pro-icon{
    padding:30px;
    font-size:30px;
    color:lightgray;
}


footer{
    border-top:1px solid rgb(204, 202, 202);
    font-size:20px;
    text-align:center;
    color:#999;
}

footer a{
    display:none;
}





@media screen and (max-width:480px){
    body{
        text-align:center;
        padding:10px;
    }
    .header a{
        display:none;
    }
    .about-title{
        font-size:35px;
        color:#999;
        border-bottom:1px solid #999;
        width:100px;
    }
    .sns{
        font-size:20px;
        padding:10px;
        color:#999;
    }
    .sns-first{
        padding-left:60%;
    }
    .h-menu{
        display:block;
    }

    ul{
        padding-inline-start: 0px;
    }
    ul li{
        cursor:pointer;
        display:inline-block;
        padding-inline-start: 0px;
    }
    .link{
        display:block;
        color:#888;
        padding:10px;
       text-align:center;
    }
    .website01{
        display:block;
    }
    footer a{
        display:inline-block;
        font-size:20px;
        padding:10px;
        color:#999;
        margin-top:30px;
    }

}

@media screen and (max-width:781px){

    .link{
        display:none;
        list-style: none;
    }
        /*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #999; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #999;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  
    /*
     * Emphatic
     */
  .hamburger--emphatic {
    overflow: hidden; }
    .hamburger--emphatic .hamburger-inner {
      transition: background-color 0.125s 0.175s ease-in; }
      .hamburger--emphatic .hamburger-inner::before {
        left: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
      .hamburger--emphatic .hamburger-inner::after {
        top: 10px;
        right: 0;
        transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
    .hamburger--emphatic.is-active .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent !important; }
      .hamburger--emphatic.is-active .hamburger-inner::before {
        left: -80px;
        top: -80px;
        transform: translate3d(80px, 80px, 0) rotate(45deg);
        transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .hamburger--emphatic.is-active .hamburger-inner::after {
        right: -80px;
        top: -80px;
        transform: translate3d(-80px, 80px, 0) rotate(-45deg);
        transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
  
}
